

.staringimg{
        border-radius: 1em;
        padding: 1em;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)    
}

.sortData{
    margin-top: -10%;
    margin-left: 5%;
}

.footer {
    position: fixed;
    height: 50px;
    bottom: 0px;
    left: -2px;
    right: 0px;
    margin-bottom: 20px;
  }

.startingbg{
    background: linear-gradient(174.72deg, #E7E2FC 28.86%, #E7E2FC 28.87%, #FFFFFF 95.77%);
}

.defaultbackimg{
        border-radius: 1em;
        padding: 1em;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        opacity: 15%;  
}

.onboard1para{
    text-align: justify;
        padding: 1em;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
}

.oboardNextButton{
    position: fixed;
    bottom: 5%;
    right: 10%;
}

.oboardBackButton{
    position: fixed;
    bottom: 5%;
    left: 10%;
}

.onboardCloseButton{
    position: fixed;
    top: 5%;
    right: 10%;
}

.loginlog{
    border-radius: 1em;
    padding: 1em;
    position: absolute;
    top: 10%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
     
}

.bookingHeader{
    margin-top: -2%;
    margin-left: 15%;
}

.loginform{
    top: 40%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 40%;
}
.forgotpassword{
    position: fixed;
    right: 10%;
}

.mainFooterNav{
     position: static;/* Updated Property */
    flex: 1 1 auto;
    bottom: 0;
    width: 100%;
    margin-bottom: -3%;
}


#map{
    height: 360px;
    width: 100%;
}

.bookingbackbutton{
    position: absolute;
    left: 5%;

}

hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

body {
    font-family: 'Roboto', sans-serif;
    background: #5380E7;
    display: flex;
  flex-direction: column;
  min-height: 100vh;

}
.main-header {
    width: 360px;
    text-align: center;
    padding: 0px 30px;
}
#main {
    color: white;
    margin: 150px auto;
    max-width: 960px;
}
.header-content{
    padding-left: 50px;
}
#credit-card {
    display: block;
    width: 360px;
    padding: 10px;
    position: relative;
    border: 1px solid #d5d9da;
    padding: 20px;
    background: #648EF1;
}
h1 {

    text-align: left;
    font-weight: 600;
    font-size: 2rem;
    line-height: 0;
}
p {
    text-align: left;
    line-height: 0;
}
#credit-card label{margin-right:5px;}
#credit-card input {
    padding:8px 11px;
    border:1px solid #d5d9da;
    box-shadow: 0 0 5px #e8e9eb inset;
    width: 100%;
    font-size:1em;
    margin-right: 5px;
}
#cc-number {
    width: 330px !important;
}
#cc-name {
    width: 330px !important;
}
#result{margin-left:5px;}
.row {
    display: flex;
    margin-bottom: 15px;
}
.last-row {
    display: flex;
}
.col-1 {
    width: 47%;
}
.col-2 {
    width: 45%;
}
.full-width {
    width: 100%;
}
#cc-expiration {
    width: 80% !important;
}
.i-icon-cvv2 {
    position: absolute;
    right: 30px;
    margin-top: -33px;
}
.i-icon-card-num{
    width: 49px;
    height: 30px;
    background-position: 6px -69px;
    position: absolute;
    right: 32px;
    top: 23px;
}

#show-cc-label {
    position: absolute;
    right: 30px;
margin-top: 2px;
}

button{
    border-radius: 15px;
    background: #1f069d;
    padding: 20px; 
    background-color: #1f069d;
}

a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  a:active {
    text-decoration: none;
  }